.chatHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 10px;
    border-bottom: 3px solid #26282c;
}
.chatHeader_hash{
    color: gray;
    font-size: 30px;
    padding: 10px;
}

.chatHeader_left > h3{
    display: flex;
    align-items: center;
    color: white;
}

.chatHeader_right{
    display: flex;
    align-items: center;
    flex:0.5;
    justify-content: center;
}

.chatHeader_right > .MuiSvgIcon-root{
    padding: 5px;
    cursor: pointer;
}

.chatHeader_right > .MuiSvgIcon-root:hover{
    color: white;
}

.chatHeader_search{
    display: flex;
    align-items: center;
    color: gray;
    background-color: #2f3135;
    border-radius: 3px;
    padding: 3px;
}

.chatHeader_search > input{
    background: transparent;
    outline-width: 0;
    color: white;
    border: none;
}